
\.vs/

*.user

MattEland\.Shared/bin/

MattEland\.Shared/obj/

XUnitTestProject1/bin/

XUnitTestProject1/obj/

MattEland\.Shared/MattEland\.Shared\.xml

MattEland\.AI\.Neural/bin/

MattEland\.AI\.Neural/obj/

MattEland\.Shared\.Tests/bin/

MattEland\.Shared\.Tests/obj/

\.sonarqube/

packages/

MattEland\.Shared\.Tests\.Framework/bin/

MattEland\.Shared\.Tests\.Framework/obj/

_NCrunch_MattEland\.Shared/
